In [1]:
print('cab')
print('cat')

cab
cat

In [5]:
a = 10
b = 20
print(a+b)
a+b

30

30

In [15]:
abc=10
print(abc)

10

In [30]:
k  = 90
a = chr(k)

type(a)

str

In [31]:
a = 10
print(id(a))
a = a+1
print(id(a))

140735166784176
140735166784208

In [37]:
a = 20
b = 20


print(id(a))
print(id(b))

print('\n')

# if number range from -5 to 256 then only the id/address are same, otherwise id are different with each other

a = 257
b = 257
print(id(a))
print(id(b))

140735166784496
140735166784496


2117901231472
2117901231696

In [39]:
a = 10
id1 = id(a)
b= a+2-2
id2 = id(b)

print(id1, id2)

140735166784176 140735166784176

In [40]:
2*4/3

2.6666666666666665

In [41]:
2*4//3

2

In [47]:
#Simple interest 
p = 100
r = 12
t = 2

si = p*r*t/100
print(si)

si_1 = t//100*p*r
print(si_1)

si_2 = (p*r*t)/100
print(si_2)

24.0
0
24.0

In [50]:
# fah to celcium conversion

f = 100

c = f-32*5/9    # here first multiple by 32 and 5 and didvide by 9 and then sub by f value

print(c)

c = (f - 32) * 5/9    # this is correct formula
print(c)

82.22222222222223
37.77777777777778

In [55]:
a = input()

12

In [57]:
type(a)

str

In [59]:
17/10

1.7

In [63]:
b = '10'
print(type(b))

print(type(int(b)))

<class 'str'>
<class 'int'>

In [66]:
a = 1
b = 3
c = 5

ans = (b-a,c-b)
ans

(2, 2)

In [68]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())

ans = (y1-x1)*(y2-x2)

print(ans)

1
1
3
3
0

In [69]:
x1 = 1
y1 = 1
x2 = 3
y2 = 3

y1-x1

0