In [1]:
li =['abcd', 'def']
li.insert(4,5)
print(li)

['abcd', 'def', 5]

In [3]:
li = [1,2,3,4,5]
for i in li[1:4]:
    print(i,end= '')

234

In [4]:
li = []

n = int(input())
for i in range(n):
    m = int(input())
    li.append(m)


k = 0
  


print()

3
9
8
9
[9, 8, 9]

In [9]:
n = int(input())
li = []
for i in range(n):
    li.append(int(input()))
print(li)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [10]:
type(li)

list

In [20]:
def change(li):
    
    li[1] = li[1] + 2
    li = [3,5,3,8,5]
    
#li = [1,2,3,4,5]
change(li)
print(li)

[1, 8, 3, 4, 5]

In [40]:
li = [1,2,3,4,'shashi','golu']

li[-1::-1]

['golu', 'shashi', 4, 3, 2, 1]

In [41]:
n = int(input())

li=[]
for i in range(n):
    li.append(input())

3
1
2
shashi

In [42]:
li

['1', '2', 'shashi']

# # Split function

In [43]:
k = input()    #by defualt input is string data type

1 2 3 4 5

In [45]:
str_split = k.split()      #by default the delmeter is space in Split function

In [46]:
str_split

['1', '2', '3', '4', '5']

In [50]:


k = input().split()

1 2 3 4

In [58]:
k             # Here k is list

['1', '2', '3', '4']

In [59]:
#k = int(k)   #we can not do that beacuse "int() argument must be a string, a bytes-like object or a number, not 'list'""

li = []
for i in k:
    li.append(int(i))
    
    
print(li)

[1, 2, 3, 4]

In [63]:
k = list(map(int,input().split()))

1 2 3 4

In [64]:
k

[1, 2, 3, 4]

In [68]:
n = input()

10,11,12,13,14

In [69]:
print(n)
print(type(n))

10,11,12,13,14
<class 'str'>

In [70]:
string_split = n.split(',')
print(string_split)
print(type(string_split))

['10', '11', '12', '13', '14']
<class 'list'>

In [74]:
k = map(str,input().split(','))

1,2,3,4,5

In [75]:
print(k)
print(type(k))

<map object at 0x0000011F7D77DBC8>
<class 'map'>

In [76]:
k = list(map(str,input().split(',')))

1,2,3,4,5

In [77]:
print(k)
print(type(k))

['1', '2', '3', '4', '5']
<class 'list'>

In [80]:
li = [int(x) for x in input().split()]

1 2 3 4 5

In [81]:
print(li)
print(type(li))

[1, 2, 3, 4, 5]
<class 'list'>

In [82]:

li = [x for x in input().split()]
print(li)

1 3 6 8 9
['1', '3', '6', '8', '9']

# Array Sum

In [85]:
n = int(input())

li = [int(x) for x in input().split()]

ans = 0
for i in li:
    ans = ans+i
    
print(ans)

3
9 8 9
26

# LinearSearch

In [93]:
n = int(input())

lis = [int(x) for x in input().split()]

find = int(input())

for i in range(len(lis)):
    if find == lis[i]:
        print(i)
        break
else:
    print(-1)

5
1 2 3 4 5
8
-1

# LinearSearch through function

In [100]:
def linear_search(li,elem):
    for i in range(len(li)):
        if li[i] == elem:
            return i
    return -1    



li = [1,2,3,4,5,6,7,8]
index = linear_search(li,int(input()))
print(index)

9
-1

# Mutable and Immutable concept

In [130]:
#Immutable

x = 4
x = 5
a = x
print(id(x))
print(id(a))
print('a =', a)
a = 9
print('a =',a)

print('x =',x)

140721415430672
140721415430672
a = 5
a = 9
x = 5

In [110]:
#Mutable

lis1 = [1,2,3,4,5]

lis2 = lis1
print('lis2 =', lis2)

lis2[3] = 10
print('lis2 =', lis2)
                               # Here after change the value in lis2 it will also effect in lis1 
                               # so lists is mutable
print('lis1 =', lis1)

lis2 = [1, 2, 3, 4, 5]
lis2 = [1, 2, 3, 10, 5]
lis1 = [1, 2, 3, 10, 5]

In [112]:
lis2 = [27,28,29]
lis2[2] = 101

print('lis1 =',lis1)
print('lis2 =',lis2)

lis1 = [1, 2, 3, 10, 5]
lis2 = [27, 28, 101]

# Passing Variable Through Function

In [129]:
#Immutable   #Valriable always be Immutable

def increament(a):  #In the function the value always local variable so it only effect within the function
    a = a+2
    return a 
                                 

a = 2
increament(a)         
print(a)            #Here a is store in diffrenect location as compare to function


k = increament(a)   #if we call the function and store the value then only we get the o/p
print(k)

2
4

# Passing the lists through Function

In [142]:
def increament(lis):
    lis[2] = 100
    return lis          #Lists are mutable




lis = [1,2,3,4,5]
increament(lis)
print(lis)

[1, 2, 100, 4, 5]

In [154]:
def increament(lis):
    lis = [20,21]
    return lis          #Lists are mutable




lis = [1,2,3,4,5]
increament(lis)
print(lis)
k = increament(lis)
print(k)

[1, 2, 3, 4, 5]
[20, 21]

# Reverse list

In [159]:
def reverse_l(lis):
    length = len(lis)
    for i in range(length//2):
        lis[i], lis[length-1-i] = lis[length-1-i], lis[i]
    return lis


lis = [1,2,3,4,5]
reverse_l(lis)
print(lis)

[5, 4, 3, 2, 1]

In [160]:
def reverse_l(lis):
    length = len(lis)
    for i in range(length//2):
        lis[i], lis[-i-1] = lis[-i-1], lis[i]
    return lis


lis = [1,2,3,4,5]
reverse_l(lis)
print(lis)

[5, 4, 3, 2, 1]

In [166]:
lis = [1,2,3,4,5]
lis = lis[::-1]
print(lis)

[5, 4, 3, 2, 1]

In [194]:
def reverse_l(arr):
    length = len(arr)

    for i in range(0,length//2+4,2):
        arr[i], arr[i+1] = arr[i+1], arr[i]
    return arr


lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 , 11]
reverse_l(lis)
print(lis)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9, 11]

In [230]:
def swapAlternate(arr, n) :
    length = len(arr)

    if n%2!=0:
        for i in range(0,n-1,2):
            arr[i], arr[i+1] = arr[i+1], arr[i]
    
            
        
        else:
            for i in range(0, n-1, 2):
                arr[i], arr[i+1] = arr[i+1], arr[i]

    return arr


arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 , 11]
k = swapAlternate(arr,11)
k

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
def swapAlternate(arr, n) :
    n=len(arr)
    if n%2!=0:
        for i in range(0,n-1,2):
            arr[i],arr[i+1]=arr[i+1],arr[i]
            
        else:
             for i in range(0,n-1,2):
                    arr[i],arr[i+1]=arr[i+1],arr[i]
    return arr

In [10]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 , 11]
k = swapAlternate(arr,11)
k

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]