* * * *
* * * *
* * * *
* * * *

In [6]:
n = int(input())

i = 1   

while i<=n:
    j = 1
    while j<=n:
        print("*", end=" ")
        j = j+1
    print()
    i = i+1

4
* * * *
* * * *
* * * *
* * * *

*
* * 
* * *
* * * *

In [7]:
n = int(input())

i = 1

while i<=n:
    j = 1
    while j<=i:
        print("*", end=" ")
        j = j+1
    print()
    i = i+1

4
*
* *
* * *
* * * *

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [9]:
n = int(input())

i = 1

while i<=n:
    j = 1
    while j<=n:
        print(j, end=" ")
        j = j+1
    print()
    i = i+1

4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

1
1 2 
1 2 3 
1 2 3 4

In [10]:
n = int(input())
i = 1

while i<=n:
    j = 1
    while j<=i:
        print(j, end=" ")
        j = j+1
    print()
    i = i+1

4
1
1 2
1 2 3
1 2 3 4

### Sequre patterns

1 1 1 1 
2 2 2 2 
3 3 3 3 
4 4 4 4

In [11]:
n = int(input())

i = 1

while i<=n:
    j = 1
    while j<=n:
        print(i, end=" ")
        j = j+1
    print()
    i = i+1

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

4 3 2 1 
4 3 2 1 
4 3 2 1 
4 3 2 1

In [20]:
n = int(input())

i = 1

while i<=n:
    j = 1
    while j<=n:
        print(n-j+1, end=" ")
        j = j+1
    print()
    i = i+1

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

### Triangular patterns

1 
1 2 
1 2 3 
1 2 3 4

In [21]:
n = int(input())
i = 1

while i<=n:
    j = 1
    
    while j<=i:
        print(j,end=' ')
        j = j+1
    print()
    i = i+1

4
1
1 2
1 2 3
1 2 3 4

1 
2 3 
3 4 5 
4 5 6 7

In [35]:
n = int(input())
i = 1

while i<=n:
    j = 1
    k = i              # here we need to print wrt i with increase with 1 per loop count(i)
    while j<=i:
        print(k,end=' ')
        k = k+1
        j = j+1
    print()
    i = i+1

4
1
2 3
3 4 5
4 5 6 7

1 
2 3 
4 5 6 
7 8 9 10

In [44]:
n = int(input())
i = 1
k = 1    # here we don't want to reset the value 

while i<=n:
    j = 1
    while j<=i:
        print(k,end=' ')
        k = k+1             # here the k value increase wrt loop count(i)
        j = j+1
    print()
    i = i+1

4
1
2 3
4 5 6
7 8 9 10

In [47]:
n = int(input())
i = 1

while i<=n:
    j = 1
    k = i

    while j<=i:
        print(k, end='')
        k = k-1
        j = j+1
        

    print()
    i = i+1

4
1
21
321
4321

In [52]:
# print kth alphabet

n = int(input())

x = ord('A')
ascii_number = x+(n-1)
char = chr(ascii_number)
print(char)

5
E

A B C D
A B C D
A B C D
A B C D

In [74]:
n = int(input())
i = 1


while i<=n:
    j = 1
    
    
    while j<=n:
        char = chr(ord('A')+j-1)
        print(char, end=" ")
        j = j+1
    
    print()
    i = i+1

4
A B C D
A B C D
A B C D
A B C D

A B C D
B C D E
C D E F
D E F G

In [75]:
n = int(input())
i = 1


while i<=n:
    j = 1
    k = i
    
    while j<=n:
        char = chr(ord('A')+k-1)
        print(char, end=" ")
        k = k+1
        j = j+1
    
    print()
    i = i+1

4
A B C D
B C D E
C D E F
D E F G

In [76]:
n = int(input())
i = 1


while i<=n:
    j = 1
    char = chr(ord('A')+i-1)
    
    while j<=n:
        print(char, end=" ")
        j = j+1
    
    print()
    i = i+1

4
A A A A
B B B B
C C C C
D D D D

In [78]:
n = int(input())
i = 1


while i<=n:
    j = 1
    start_char = chr(ord('A')+i-1)
    
    while j<=n:
        char = chr(ord(start_char)+j-1)
        print(char, end=" ")
        j = j+1
    
    print()
    i = i+1

4
A B C D
B C D E
C D E F
D E F G


A B C D 
E F G H 
I J K L 
M N O P

In [88]:
n = int(input())
i = 1
k = 1
start_char = chr(ord('A')+k-1)

while i<=n:
    j = 1
    
    while j<=n:
        print(chr(ord(start_char)+k-1), end=" ")
        j = j + 1
        k = k+1
    
    print()
    i = i+1

4
A B C D
E F G H
I J K L
M N O P

In [91]:
n = int(input())
i = 1

while i<=n:
    j = 1
    while j<=i:
        char = chr(ord('A')+i-1)
        print(char, end="")
        j = j+1

    print()
    i = i+1

4
A
BB
CCC
DDDD

In [128]:
## Read input as specified in the question
## Print the required output in given format
n = int(input())
i = 1

while i<=n:
    j = 1
    #k = n-i+1
    start = chr(ord('A')+(n-i+1)-1)
    while j<=i:
        print(chr(ord(start)+j-1), end="")
        j = j+1

    print()
    i = i+1

4
D
CD
BCD
ABCD

In [104]:
## Read input as specified in the question
## Print the required output in given format
n = int(input())
i = 1

while i<=n:
    j = 1
    start_char = chr(ord('A')+i-1)
    while j<=i:
        print(chr(ord(start_char)+(n-j+1)), end="")
        j = j+1

    print()
    i = i+1

4
E
FE
GFE
HGFE

In [108]:
n = int(input())

i = 1

while i<=n:
    j = 1
    k = i
    while j<=n:
        print(k, end=" ")
        j = j+1
        k = k+1
    print()
    i = i+1

4
1 2 3 4
2 3 4 5
3 4 5 6
4 5 6 7

1
11
111
1111

In [129]:
n = int(input())
i = 1
while i<=n:
    j = 1
    while j<=i:
        print(1, end='')
        j = j+1

    print()
    i = i+1

4
1
11
111
1111

1
11
202
3003

In [181]:
n = int(input())
i = 1

if n >= 1:
    print('1')

    while i <= n-1:
        print(i, end='')
        j = 1

        while j <= i-1:
            print('0', end='')
            j = j+1
        print(i, end='')
        print()
        i = i+1

4
1
11
202
3003

1234
123
12
1

In [168]:
n = int(input())
i = 1
while i<=n:
    k = n
    j = 1
    while k>=i:
        print(k, end='')
        k = k-1
        j = j+1
    print()
    i = i+1

4
4321
432
43
4

In [5]:
n = int(input())
i = 1

while i<=n:
    j = 1
    
    while j<=n-i+1:              # here j from 1 to n-i+1 wrt i
        print(j, end=' ')
        j = j+1
    
    print()
    i = i+1

4
1 2 3 4
1 2 3
1 2
1

1
11
121
1221

### Inverted triangle

In [ ]:
n = 4
i = 1
if n>=1:
    print('1')

    while i<=n-1:
        print('1',end='')
        j = 1

        while j<=i-1:
            print('2',end='')
            j = j+1
        print(end='1')    
        print()
        i = i+1

4444
333
22
1

In [9]:
n = int(input())
i = 1

while i<=n:
    j = 1
    k = n-i+1
    while j<=k:
        print(k, end='')
        j = j+1
    print()
    i = i+1

4
4444
333
22
1

### Reverse triangle

      *          # first print space with count of n-i
    * *          # then print * with count of i 
  * * *          
* * * *

In [11]:
n = 4
i = 1

while i<=n:
    s = 1
    
    while s<=n-i:
        print(' ', end=' ')
        s = s+1
    j = 1
    
    while j<=i:
        print('*', end=' ')
        j = j+1
    
    print()
    i = i+1

      *
    * *
  * * *
* * * *

      1 
    1 2 1                       
  1 2 3 2 1 
1 2 3 4 3 2 1

In [13]:
n = int(input())
i = 1

while i<=n:
    space = 1
    
    while space<=n-i:               # create space wrt n-i
        print(' ', end=' ')
        space = space+1
        
    j = 1
                                    
    while j<=i:                     # print increasing number
        print(j, end=' ')
        j = j+1
    
    p = i-1
    
    while p>=1:                     # print decreasing number wrt i-1 ( from i-1 to 1)
        print(p, end=' ')
        p = p-1
        
    print()
    i = i+1

4
      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1

   1
  232
 34543
4567654

In [41]:
n  = int(input())
i = 1

while i<=n:
    
    dec = 2
    space = 1
    while space<=n-i:
        print(' ', end='')
        space = space+1

    j = 1
    inc = i
    while j<=i:
        print(inc, end='')
        inc = inc+1
        j = j+1
        
    p = i-1
    k = 2*i-2
    while p>=1:
        print(k, end='')
        p = p-1
        k = k-1

    print()
    i = i+1

4
   1
  232
 34543
4567654

  *                           
 ***
*****
 ***
  *             n = 5

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *           n = 9

In [185]:
n = int(input())
i = 1
n1 = (n+1)//2
n2 = n1-1

while i<=n1:
    space = 1
    while space<=(n1-i):
        print(' ', end='')
        space = space+1
    j = 1
    while j<=2*i-1:
        print('*', end='')
        j = j+1
    print()
    i = i+1

i = n2
k = n2
while k>=n2-i+1:
    space = 1
    while space<=n2-i+1:
        print(' ', end='')
        space = space+1
        
    j = 1
    while j<=2*i-1:
        print('*', end='')
        j = j+1
        
    print()
    i = i-1

9
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n = int(input())
n1 = (n+1)//2
n2 = n//2

i = 1
while i<=n1:
    space = 1
    while space<=(n1-i):
        print(' ', end='')
        space = space+1
    j = 1
    while j<=(2*i-1):
        print('*', end='')
        j = j+1
        
    print()
    i = i+1

In [ ]:
n2

In [180]:
n = 7
n1 = (n+1)//2
n2 = n//2

i = n2
k = n2
while k>=n2-i+1:
    space = 1
    while space<=n2-i+1:
        print(' ', end='')
        space = space+1
        
    j = 1
    while j<=2*i-1:
        print('*', end='')
        j = j+1
        
    print()
    i = i-1

 *****
  ***
   *

In [165]:
n1

4

1        1
12      21
123    321
1234  4321
1234554321

In [251]:
n = 5
N = n*2
n1 = N//2
n2 = n1-1

i = 1
while i<=n:
    j = 1
    while j<=i:
        print(j, end='')
        j = j+1
        
    space_1 = 1
    while space_1<=n-i:
        print(' ',end='')
        space_1 = space_1+1
        
    space_2 = 1
    while space_2<=n-i:
        print(' ',end='')
        space_2 = space_2+1
    
    j_1 = 1
    k = i
    l = n2
    while j_1<=i:
        print(k, end='')
        j_1 = j_1+1
        l = l-1
        k = k-1
        
    
    
    print()
    i = i+1

1        1
12      21
123    321
1234  4321
1234554321

*000*000*
0*00*00*0
00*0*0*00
000***000

In [283]:
n = 4
star = 1
i = 1
while i<=n:
    j = 1
    
    while j<=i:
        j +=1
        if star == i:
            print('*',end=' ')
            star +=1
            
        else:
            print('0',end=' ')
        
    print()
    i+=1

*
* 0
* 0 0
* 0 0 0

In [269]:
2

2

In [285]:
n = int(input())
rows = 2*n + 1
i = 1

while i <= n:
    j = 1
    while j <= rows:
        if(j == i or j == (rows // 2 + 1) or j == rows - i +1):
            print('*',end = '')
            
        else:
            print('0',end = '')

        j = j + 1
        
    print()
    i = i + 1

4
*000*000*
0*00*00*0
00*0*0*00
000***000

In [295]:
n = int(input())
i = 1

columns = 2*n+1

while i<=n:
    j = 1
    while j<=columns:
        if (j==i or j==(n+1) or j== columns-i+1):
            print('*', end='')

        else:
            print('0', end='')
        j+=1

    print()
    i+=1

4
*000*000*
0*00*00*0
00*0*0*00
000***000

   1
  212
 32123
4321234

In [379]:
N = 4
n = 2*N-1
n1 = n//2+1
n2 = n-n1

i = 1
while i<=N:
    space = 1
    while space<=n1-i:
        print(' ', end='')
        space +=1    
        
    j = 1
    p = i
    while j<=i:
        print(p,end='')
        j+=1
        p-=1
        
    j = 2
    while j<=i:
        print(j, end='')
        j +=1    
    print()
    i+=1

   1
  212
 32123
4321234

*
 * *
   * * *
     * * * *
   * * *
 * *
*

In [442]:
N = int(input())
n1 = N//2+1
n2 = n1-1
i = 1
while i<=n1:
    space = 1
    while space<i:
        print(' ', end='')
        space+=1
        
    j = 1
    while j<=i:
        print('*', end=' ')
        j = j+1
        
        
        
    print()
    i+=1
i = 1    
while i<=n2:
    space = 2
    while space<=n2-i+1:
        print(' ', end='')
        space+=1
        
    j = 1
    while j<=n2-i+1:
        print('*', end=' ')
        j = j+1
        
    print()
    i +=1

7
*
 * *
  * * *
   * * * *
  * * *
 * *
*

### With For Loop

   1
  232
 34543
4567654

# STEPS:-
    
1) First print space with start from 3 to 1  -> n-i to i-1
2) second print increase oder number from i______2i-1, -1
3) Third print Decrease order number from 2i-2 to i

In [445]:
n = 4

for i in range(1, n+1, 1):
    for space in range(n-i):
        print(" ", end='')
    for j in range(i, 2*i, 1):
        print(j, end='')
    for j in range(2*i-2, i-1, -1):
        print(j, end='')
    print()

   1
  232
 34543
4567654

   1
  212
 32123
4321234

In [513]:
n = 4

for i in range(1, n+1, 1):
    
    for space in range(n-i):
        print(' ', end='')
    for j in range(i,0,-1 ):
        print(j, end='')
    for j in range(2,i+1):
        print(j, end='')
    
       
    print()

   1
  212
 32123
4321234

1111
000
11
0

In [547]:
n = 4
k = 1
for i in range(n,0,-1):
    
    for j in range(1,i+1):
        if i&2!=0:
            print('1', end='')
        else:
            print('0', end='')
    print()

0000
111
11
0

In [549]:
n = 4

for i in range(n,0,-1):
    print(i)

4
3
2
1

In [560]:
n = 4

for i in range(1, n+1, 1):
    
    for j in range(1, n-i+2, 1):
        if(i%2 != 0):
            print('1', end ='')
            
        else:
            print('0', end ='')
     
    
    print()

1111
000
11
0

In [555]:
n = int(input())

for i in range(1, n+1, 1):
    
    for j in range(1, n-i+2, 1):        
        if(i%2 != 0):
            print('1', end ='')
            
        else:
            print('0', end ='')
    
    print()

4
1111
000
11
0

In [565]:
n = int(input())

for i in range(1, n+1, 1):

    for j in range(1, n-i+2, 1):
        
        if i%2!= 0:
            print('1', end='')
        else:
            print('0', end='')

    print()

4
1111
000
11
0

123456
  23456
    3456
      456
        56
          6
        56
      456
    3456
  23456
123456

In [643]:
n = 6

for i in range(1,n+1, 1):
    for j in range(2,i+1,1):
        print(' ',end='')
    l = i    
    for k in range(1,(n+2)-i,1):
        print(l,end='')
        l+=1
    print()
    
for i in range(2,n+1, 1):
    for j in range(1,n-i+1,1):
        print(' ',end='')
    
    l = (n+1)-i
    for k in range(1,i+1,1):
        print(l, end='')
        l+=1
    
    print()

123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

   *
  ***
 *****
*******
 *****
  ***
   *

In [743]:
n = 7


n1 = (n+1)//2
n2 = n1-1


for i in range(1, n1+1, 1):
    
    for space in range(n1-i):
        print(' ', end='')
    
    for j in range(2*i-1):
        print('*', end='')
    
    print()
    

for i in range(n2,0,-1):
    
    for space in range(n2-i+1):
        print(' ', end='')
     
    for j in range(2*i-1):
        print('*', end='')
        
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

 5432*
 543*1
 54*21
 5*321
 *4321

In [ ]:
n = 5
i= 1
while i<=n:
    j = 1
    while j<=

****
 ***     
  **
   *

In [748]:
m = int(input())

for i in range(m):
    n = int(input())

for k in range(m):
    for i in range(1,n+1, 1):
        for j in range(2,i+1,1):
            print(' ',end='')
        l = i    
        for k in range(1,(n+2)-i,1):
            print('*',end='')
        l+=1
        print()

3
1
3
4
****
 ***
  **
   *
****
 ***
  **
   *
****
 ***
  **
   *

In [783]:

def ninjaPuzzle(n):
    
    for i in range(1,n+1, 1):
        for j in range(2,i+1,1):
            print(' ',end='')
            
        for k in range(1,(n+2)-i,1):
            print('*',end='')
        
        print()
        
        
m = int(input())

for i in range(m):
    n =  int(input().strip())
    ninjaPuzzle(n)

2
1
*
4
****
 ***
  **
   *

In [752]:
k = int(input().strip())

1234

In [753]:
k

1234

 5432*
 543*1
 54*21
 5*321
 *4321

In [785]:
n = int(input())
space = n

for i in range(1,n+1,1):
    
    for j in range(1,n+1,1):
        if space==j:
            print('*',end=' ')
            space-=1
        else:
            print(n-j+1,end=' ')
            
    print()

5
5 4 3 2 *
5 4 3 * 1
5 4 * 2 1
5 * 3 2 1
* 4 3 2 1

In [765]:
n= 5

i = 1
while i<=n:
    j = 1
    k = n
    while j<=n:
        print(k,end='')
        k -=1
        j+=1
    space = 1    
    while space <=     
    print()     
    i+=1

54321
54321
54321
54321
54321

In [784]:
def ninjaPuzzle(n):
    
    for i in range(n):
        for j in range(n):
            if j>=i:
                print('*',end='')
            else:
                print(' ',end='')
        print()

In [ ]:

def findGcd(a, b):
    if b == 0:
        return a

    return gcd(b, a % b)



def gcd(a, b):
    while b != 0:
        a, b = b, a % b

    return a