single quotes

In [1]:
s = 'Rahul'
print(s)

Rahul

Double quotes

In [2]:
s = "Rahul"
print(s)

Rahul

Tripple quotes

In [3]:
s = '''Rahul'''
print(s)

Rahul

In [5]:
s = '''My name is     
Shashi and         
Roll number is
12'''

print(s)

My name is
Shashi and
Roll number is
12

In [6]:
s

'My name is\nShashi and\nRoll number is\n12'

In [9]:
s = 'Rahul'
s[0] = 'K'

TypeError: 'str' object does not support item assignment

In [12]:
s = 'abcd'
a = 'abcd'
if id(s) == id(a):
    print('They are same')
else:
    print('They are not same')

They are same

In [13]:
a = 'blue'
a*3

'blueblueblue'

In [14]:
s = "abcd"
b = s + "ef"
print(s)

abcd

In [15]:
b

'abcdef'

In [17]:
s = 'Rahulkumar'

In [19]:
s[::]

'Rahulkumar'

In [20]:
s[::-1]

'ramukluhaR'

In [21]:
s[:2:-1]

'ramuklu'

In [23]:
s = 'abcdef'
s[4:2:-1]

'ed'

# Substring

In [24]:
s = "Year"

k = 'Ye'
k in s

True

In [25]:
s = "Year"

k = 'Yer'
k in s

False

In [28]:
s = "Year"

k = 'Yer'
k not in s

True

In [30]:
s = "How are you"
k = 'How are'
l = 'How you'  # this is subsequence but not substring

print(k in s)
print(l in s)

True
False

# Get all substrings of given string

Method #1 : Using list comprehension + string slicing

In [36]:
s = 'Year'

for i in range(len(s)):
    for j in range(i+1,len(s)+1):
        print(s[i] ,':',s[i:j])

Y : Y
Y : Ye
Y : Yea
Y : Year
e : e
e : ea
e : ear
a : a
a : ar
r : r

In [5]:
s = "Year"

substring = [s[i:j] for i in range(len(s))
              for j in range(i+1,len(s)+1)]

print(substring)

['Y', 'Ye', 'Yea', 'Year', 'e', 'ea', 'ear', 'a', 'ar', 'r']

In [3]:
k  = [i for i in range(4)]
k

[0, 1, 2, 3]

# Comparison Operators On Strings

In [19]:
# ASCII
print(chr(65))

A

In [31]:
a = 'Shashi' == 'Kumar'
print(a)
print(ord('S'), ord('K'))

False
83 75

In [35]:
a = 'Shashi' 
#b = 'Shashi'
b = 'shashi'

print(a==b)
print(ord('s'))
print(ord('S'))

False
115
83

In [38]:
's'>'S'

True

In [42]:
a = 'shashi' == 'shashi'
print(a)

b = 'shas' >= 'shashi'       # if char are same but char is more wrt to other, 
                             # then greater length will greater
print(b)

c = 'shashi' >= 'shas'
print(c)

True
False
True

# Check Palindrome

In [13]:

def isPalindrome(string) :
    if string == string[::-1]:
        return True
    else:
        return False



#main
string = input().strip();
ans = isPalindrome(string)

if ans :
    print('true')
else :
    print('false')

ab
false

In [16]:
a = "abce" >= "abcdef"
print(a)

True

# Function Of Strings

string.split(separator, maxsplit)

In [23]:
#s = 'My Name Is Shashi Kumar'
s = 'My,Name,Is,Shashi,Kumar'

#s.split()
s.split(',')
s.split(',', 2)

['My', 'Name', 'Is,Shashi,Kumar']

string.replace(oldvalue, newvalue, count)

In [25]:
s = 'My Name Is Shashi Kumar'
s.replace('Shashi','Rahul')
print(s)         # replace only return the value

k = s.replace('Shashi','Rahul')
print(k)

My Name Is Shashi Kumar
My Name Is Rahul Kumar

In [26]:
s = 'My Name Is Shashi Kumar'

k = s.replace('shashi','Rohit')     # must be same char
print(k)

My Name Is Shashi Kumar

In [27]:
s = 'My Name Is Shashi Shashi Shashi Kumar'

k = s.replace('Shashi','Rohit')    # it will replace with all occurences
print(k)

My Name Is Rohit Rohit Rohit Kumar

In [33]:
s = 'My Name Is Shashi Shashi Shashi Kumar'

k = s.replace('Shashi','Rohit', 2)
print(k)

My Name Is Rohit Rohit Shashi Kumar

string.find(value, start, end)

In [35]:
s = 'My Name Is Shashi Kumar'

s.find('Sha')  # give the find index number

11

In [36]:
s.find('q')

-1

In [38]:
s.index('Sha')

11

In [39]:
s.index('q')

ValueError: substring not found

lower(),upper()

In [42]:
s = 'shashi'
print(s.upper())    # it will only return the value,
                    # it will not effect in original value
print(s)

SHASHI
shashi

In [44]:
s = "SHASHI"
print(s.lower())

shashi

In [45]:
print(s.isupper())

True

In [46]:
print(s.islower())

False

startswith()

In [47]:
s

'SHASHI'

In [48]:
s.startswith('SHA')

True

In [49]:
s.startswith('I')

False

In [50]:
s.startswith('SHI')

False

# replaceCharacter

In [55]:
def replace(string, chr1, chr2):
    new_string = ""
    for char in string:
        if char == chr1:
            new_string += chr2
            #new_string.append(chr2)
        else:
            new_string += char
            
    return new_string        
        
        
replace('abcda','a','e')

'ebcde'

In [51]:
s = 'abcda'
print(s.replace('a','e'))

ebcde

# countVCDS

In [62]:
def countInString(string):
    v,c,d,s = 0,0,0,0
    
    for char in string:
        if((char>='a' and char <= 'z') or (char>='A' and char<='Z')):
            
            char = char.lower()
            if char in ['a','e','i','u']:
                v+=1
            else:
                c+=1
        
        elif (char>='0' and char<='9'):
            d+=1
            
        else:
            s+=1
            
    
    return v,c,d,s
    
    
string = 'adsfdghgjfgdfsdasi2sdf34,! 2@$'
v,c,d,s = countInString(string)
print(v,c,d,s)

3 18 4 5

In [63]:
s = input()
s = s+" "
for i in range(len(s)-1):
    if s[i] != s[i+1]:
        print(s[i], end="")

aabccbaa
abcba

In [76]:
def reverseEachWord(string) :
    k = string[::-1]
    return k

reverseEachWord('racecar kayak refer')

'refer kayak racecar'

In [ ]:
s = input()
new = s.split()
for i in range(len(new)):
    sad = new[i][::-1]
    print(sad, end=" ")