# Tuples

In [1]:
# Tuples is almost same as lists only difference here we need to use "( )"
# A tuple is a collection which is ordered and unchangeable.
# Tuple items are ordered, unchangeable, and allow duplicate values.

x, y = 2, 5
print(x)
print(y)
print(type(x))

2
5
<class 'int'>

In [2]:
x = 1,2
print(x)
print(type(x))

(1, 2)
<class 'tuple'>

In [3]:
x[::-1]

(2, 1)

In [4]:
x[1]

2

In [18]:
# A tuple is a collection which is ordered and unchangeable
k = (2,1,4,6,3)
k[2] = 30

TypeError: 'tuple' object does not support item assignment

In [19]:
x = ('shashi',)
y = ('shashi')     #To create a tuple with only one item, you have to add a comma after the item, 
                   #otherwise Python will not recognize it as a tuple.
print(type(x))
print(type(y))

<class 'tuple'>
<class 'str'>

In [20]:
x = (1,2,3,4,5)
x

(1, 2, 3, 4, 5)

In [21]:
x[2]=99

TypeError: 'tuple' object does not support item assignment

In [22]:
del x[2]

TypeError: 'tuple' object doesn't support item deletion

In [23]:
del x   #we can delete the entire tuple but cannot delete the index value

In [24]:
x

NameError: name 'x' is not defined

In [25]:
x = (1,2,3,4)
y = (22,3,7)

2 in x

True

In [26]:
9 in x

False

In [27]:
9 not in x

True

In [28]:
c = x+y
print(c)
print(type(c))

(1, 2, 3, 4, 22, 3, 7)
<class 'tuple'>

In [29]:
d = (x,y)
print(d)
print(type(d))

((1, 2, 3, 4), (22, 3, 7))
<class 'tuple'>

In [30]:
a = (1,2,3,4)
b = ('a','b')

c = (a,b)
print(c)

((1, 2, 3, 4), ('a', 'b'))

Converting list to a Tuple

In [35]:
x = [1,2,3,4]
print(tuple(x))
y = ['shashi']
print(tuple(y))

print(tuple('shashi'))

(1, 2, 3, 4)
('shashi',)
('s', 'h', 'a', 's', 'h', 'i')

In [37]:
c = 'shashi'    # String to tuple
print(tuple(c))

('s', 'h', 'a', 's', 'h', 'i')

In [39]:
d = '12345'
print(tuple(d))

('1', '2', '3', '4', '5')

In [41]:
a = 1,2
b = (3,4)
c = a+b
print(c)

(1, 2, 3, 4)

In [46]:
a = 1,2
b = (3,4)
c = (a,b)
print(c)
print(c[0])

((1, 2), (3, 4))
(1, 2)

In [47]:
a = ('ab','abc','def')
print(min(a))

ab

In [61]:
def sum(a,b,*more):
    return a+b

sum(1,2,3,3,4,5,6)

3

In [59]:
def sum(a,b,*more):
    print(a)
    print(b)
    print(type(more))
    ans = a+b
    for i in more:
        ans+=i
    return ans    

sum(1,2,3)

1
2
<class 'tuple'>

6

In [66]:
def add(a,b):
    return a+b ,a-b       # this will return tuple value

print(add(2,4))
print(type(add(2,4)))
x,y = add(2,4)
print(x)
print(y)
print(type(x))

(6, -2)
<class 'tuple'>
6
-2
<class 'int'>

In [67]:
def sum_multiply(a,b,*more):
    sum_value = a+b
    m_value = a*b
    for i in more:
        sum_value += i
        m_value*=i
    return sum_value,m_value
s_m = sum_multiply(2,3,4)
print(s_m)

(9, 24)

# Dict

In [82]:
dic = {}
print(type(dic))

<class 'dict'>

In [83]:
dic = {'the':34, "is":2}
print(dic)

{'the': 34, 'is': 2}

Construct the dic - dict()

In [84]:
x = dict(name='shashi',Roll = 12, age = 21)
print(x)

{'name': 'shashi', 'Roll': 12, 'age': 21}

We can copy the dict - dic_name.copy()

In [85]:
# We can copy the dict 

y = x.copy()
print(y)

{'name': 'shashi', 'Roll': 12, 'age': 21}

In [70]:
a = dict([('name','shashi'),('age', 12)])
a

{'name': 'shashi', 'age': 12}

In [71]:
b = dict(name = "shashi", age = 12)
a

{'name': 'shashi', 'age': 12}

fromkeys(seq, val)

In [72]:
#lis = ['name','roll','class']
tupl = ('name','roll','class')

#dic = dict.fromkeys(lis)
dic = dict.fromkeys(tupl)

print(dic)

{'name': None, 'roll': None, 'class': None}

In [73]:
# creating dict with default values as 1
lis = [1,2,3,4,5,6]

dic = dict.fromkeys(lis, 0)
print(dic)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}

Access in dictonary

In [74]:
x = {'name':'shashi', 2:7 , 'lis':[1,2,3,4], 'dict':{1:5, 8:2}}
print(x)

{'name': 'shashi', 2: 7, 'lis': [1, 2, 3, 4], 'dict': {1: 5, 8: 2}}

In [75]:
x['name']

'shashi'

In [76]:
x['dict']

{1: 5, 8: 2}

In [77]:
x[3]

KeyError: 3

In [78]:
x.get('name')

'shashi'

In [79]:
print(x.get(3))

None

In [80]:
print(x.get(1, 5))

5

In [81]:
print(x.get('name','kumar'))

shashi

In [82]:
for i in x:
    print(i)  # it will give the key

name
2
lis
dict

In [83]:
for i in x:
    print(x[i])

shashi
7
[1, 2, 3, 4]
{1: 5, 8: 2}

Adding and removing

In [84]:
x

{'name': 'shashi', 2: 7, 'lis': [1, 2, 3, 4], 'dict': {1: 5, 8: 2}}

In [85]:
x['name'] = 'Aman'
print(x)

{'name': 'Aman', 2: 7, 'lis': [1, 2, 3, 4], 'dict': {1: 5, 8: 2}}

In [86]:
x['tuple'] = (1,2,3,4,5)   #if the key name is not found then
                           #it will create the key and value at the end
print(x)

{'name': 'Aman', 2: 7, 'lis': [1, 2, 3, 4], 'dict': {1: 5, 8: 2}, 'tuple': (1, 2, 3, 4, 5)}

In [87]:
print(a)

{'name': 'shashi', 'age': 12}

In [88]:
x = {'collage':'isbm', 'class': 'BE', 'age': 31}
a.update(x)

In [89]:
print(a)

{'name': 'shashi', 'age': 31, 'collage': 'isbm', 'class': 'BE'}

Removing

dict_name.pop(keyname, defualtvalue)

In [90]:
a.pop()

TypeError: pop expected at least 1 arguments, got 0

In [91]:
a.pop('name')

'shashi'

In [92]:
a

{'age': 31, 'collage': 'isbm', 'class': 'BE'}

In [93]:
a.pop('name')

KeyError: 'name'

In [94]:
a.pop('name','the key is not found')

'the key is not found'

In [96]:
a = {1:2,'list':[1,2],3:5}
a.pop('list')
a['list'] = [3,5]
print(a['list'])

[3, 5]

Prints all words with feq k

In [156]:
lis = "This is a word string having many many words"
k = 2

word = lis.split()
dic = {}

for w in word:
    if w in dic:
        dic[w] = dic[w] + 1
    else:
        dic[w] = 1
        
for i in dic:
    if dic[i] == k:
        print(i)

many

In [143]:
word

['This', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'words']

In [159]:
lis = "This is a word string having many many words"
k = 2

word = lis.split()
dic = {}

for w in word:
    dic[w] = dic.get(w,0) + 1
        
print(dic)

{'This': 1, 'is': 1, 'a': 1, 'word': 1, 'string': 1, 'having': 1, 'many': 2, 'words': 1}

# Sets

In [160]:
s = {1,2,3,3,7,3,5,6,4}
s

{1, 2, 3, 4, 5, 6, 7}

In [161]:
s = {1,2,3,5,4,2,3,1}
print(len(s),end= " ")
s.add(4)
s.add(3)
print(len(s))

5 5

In [162]:
s = {}
s.add(4)
s.add(4)
print(len(s))

AttributeError: 'dict' object has no attribute 'add'

In [163]:
s= {}
print(type(s))

<class 'dict'>

In [164]:
s = {1,2}
print(type(s))

<class 'set'>

In [167]:
s = {'green', 'for', 'green'}
s

{'for', 'green'}

In [168]:
s = {'green', 'for', 'Green'}
s

{'Green', 'for', 'green'}

Python set() method is used for type casting in Python

In [169]:
lis = [1,2,3,4,5,4,2,8,6]

s = set(lis)
print(s)

{1, 2, 3, 4, 5, 6, 8}

In [171]:
lis = [1,2,3,4,5,4,2,8,6]
lis.append(10)
print(s)

{1, 2, 3, 4, 5, 6, 8}

In [172]:
lis

[1, 2, 3, 4, 5, 4, 2, 8, 6, 10]

In [174]:
s = frozenset(lis)

In [175]:
s

frozenset({1, 2, 3, 4, 5, 6, 8, 10})

Adding into set

In [180]:
s = {'name','roll','class'}
print(s)
s.add('collage')
print(s)
s.add('name')    # not effected bez the 'name is already in set'
print(s)

{'class', 'name', 'roll'}
{'class', 'name', 'collage', 'roll'}
{'class', 'name', 'collage', 'roll'}

Operations

Union operation on Python Sets

In [183]:
s1 = {1,2,3,6,3,2}
s2 = {4,6,2,8}

x = s1.union(s2)
print(x)

y = s1|s2
print(y)

{1, 2, 3, 4, 6, 8}
{1, 2, 3, 4, 6, 8}

Intersection operation on Python Sets

In [187]:
x = s1.intersection(s2)
y = s1 & s2

print(x)
print(y)

{2, 6}
{2, 6}

Finding Difference of Sets in Python

In [193]:
print(s1)
print(s2)

x = s1.difference(s2)
y = s1-s2       # difference from s1 to s2
print(x)
print(y)
               
a = s2-s1       # difference from s2 to s1
print(a)

{1, 2, 3, 6}
{8, 2, 4, 6}
{1, 3}
{1, 3}
{8, 4}

In [194]:
s1 == s2

False

In [195]:
s1!=s2

True

In [196]:
s1<s2

False

In [197]:
s1<=s2

False

In [198]:
s1>s2

False

In [199]:
s1>=s2

False

In [206]:
print(s1)
print(s2)    # if you want to find common inbetween s1 and s2
s1^s2

{1, 2, 3, 6}
{8, 2, 4, 6}

{1, 3, 4, 8}

In [210]:
x = s1.difference(s2)
print(x)

y = s1.symmetric_difference(s2)     # same as s1^s2
print(y)

{1, 3}
{1, 3, 4, 8}

In [212]:
x = s1.intersection_update(s2) #this is function update the value in s1 as intersection value comes
print(x)
print(s1)

None
{2, 6}

In [220]:
s1 = {1,2,3,6,3,2}
s2 = {4,6,2,8}

print(s1)
print(s2)

print('After','\n')
s1.symmetric_difference_update(s2)

print(s1)
print(s2)

{1, 2, 3, 6}
{8, 2, 4, 6}
After

{1, 3, 4, 8}
{8, 2, 4, 6}

In [222]:
a = {1,2,3}
b = {4,5,6}

a.isdisjoint(b)       #if true when a and b are common with eac other

True

In [225]:
a = {1,2,3,4,5}
b = {3,4,5}

a.issubset(b)

False

In [226]:
b.issubset(b)

True

In [227]:
a.issuperset(b)

True

Sum unique number in list

In [228]:
lis = [1,2,3,4,5,3,6,2,1]

unique = set(lis)
print(unique)

{1, 2, 3, 4, 5, 6}

In [230]:
sum = 0

for i in unique:
    sum+=i
    
print(sum)

21

In [231]:
sum = 0
for i in lis:
    sum+=i
    
print(sum)

27